.clearfix {
   
    border: 3px solid rgb(85, 56, 24);
    padding: 5px;
    color: white;
    min-width: 300px;
    min-height: 200px; 
    max-width:60% ;
    max-height: 33.3%;
    
    
    
}
center{
    top:250px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img2 {
    float: right;
}
.img1 {
    float: left;
}
h2{
    font-size: 22px;
    float: center;
    
}
p{
    text-align: center;
    font-size: 22px;
}
